.header {
  background-color: #ffffff;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #e30000;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 75px;
}

.navbar a {
  color: #ffffff;
  margin-left: 15px;
  text-decoration: none;
  font-weight: bold;
}
